Allow from all
Satisfy Any

AddDefaultCharset UTF-8

# Запрет запуска скриптов и отображения каталогов
Options -ExecCGI -Indexes

php_value date.timezone 'Europe/Moscow'

RewriteEngine On

RewriteBase /
RewriteRule !.(jpg|jpeg|png|gif|svg|woff2|css|js|woff|ttf|ico|html|txt|css.map)$ index.php [L]